
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }

  nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  li:hover {
    text-decoration: underline;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 
  .nav-link:hover {
    color: white !important;
  }

  .responsive-table {
    overflow-x: auto;
  }