.signUp {
  height: 100vh;
  background-color: #f1f3f4;
}
.signUpBox {
  height: fit-content;
  border-radius: 30px;
  overflow: hidden;
  min-height: 440;
  max-width: 800px;
}
.text {
  background-color: rgba(46, 70, 100, 0.8);
}
.forme {
  background-color: white;
}
.signUph2 {
  font-size: 40px;
  margin: 30px 0px;
  color: rgba(46, 70, 100, 0.8);

}
.btn {
  padding: 5px 40px;
  border-radius: 16px;
  color: white;
  font-size: 14px;
}
.btnText {
  background-color: transparent;
  border: 1px solid white;
  margin-top: 15px;
}
.btnSubmit {
  margin-top: 15px;
  background-color: rgba(46, 70, 100, 0.8);
  border: none;
}
